.body{
    background-color: #F5F5F5;
    border-radius: none;
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    line-height: 1;
    padding: 0;
    scroll-behavior: smooth;
}

.h3-subtituloSobreMi{
    color: #464646;
    line-height: 37.57px;
    font-size: 32px;
    font-style: normal;
    text-align: left;
}

.h3-subtitulo{
    color: #464646;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.h3-subtitulo2{
    color: #464646;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.p-sobreMi{
    color: #464646;
    display: flex;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    margin-right: 40%;
}

.h4-subtitulo{
    color: #464646;
    display: flex;
    font-size: 22px;
    font-style: normal;
    line-height: 26px;
    font-weight: 700, Bold;
}

.h5-descripcionProyectos{
    color: #464646;
    display: flex;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    font-weight: 500, medium;
}

.botonAzul
{
    background-color: #2A7AE4;
    border-color: #2A7AE4;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    color:#FFFFFF;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    margin: auto;
    text-align: center;
}


.botonBlanco
{
    background-color: #F5F5F5;
    border-color: #2A7AE4;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    color:#2A7AE4;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    margin: 20px;
    text-align: center;
}


.h2-contacto
{
   color: #464646;
   font-size: 32px;
   text-align: left;
}

.etiquetasFormulario{
    color: #A2A2A2;
    background-color: #FFFFFF;
    display: flex;
    font-size: 12px;
    height: 16px;
    width: 100%;
    left: calc(50% - 632px/2);
}

.inputFormulario{
    border: transparent;
    color: #464646;
    height: 56px;
    margin: 10px 0px;
    width: 100%;
}

.inputFormulario:focus{
    border-bottom: solid 2px #2A7AE4;
}

.inputMensaje{
    border: transparent;
    color: #464646;
    height: 96px;
    margin: 10px 0px;
    width: 100%;
}

.inputMensaje:focus{
    border-bottom: solid 2px #2A7AE4;
}

.footer{
    color: #464646;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    font-weight: 500, medium;
    text-align: center;
}




